{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hangyo</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=a1e71c3e49ea6232c6622dd828be2a59&libraries&libraries=services"></script>
</head>
<body>
    <div class="mainbox">
        <!-- 검색바 -->
        <div class="top-container">
            <div class="local-box">
                <div class="localname" id="localname">
                </div>
            </div>
            <div id="menu_wrap" class="bg_white">
                <div>
                    <form onsubmit="searchPlaces(); return false;">
                        <input class="search-box" type="text" value="  " id="keyword" size="15">
                        <div class="search-button-box">
                            <button class = "search-button" id="search_btn" type="submit">
                                <img class="magnifying-glass" src="{% static 'image/magnifying-glass.png' %}" >
                            </button> 
                        </div>   
                    </form>
                </div>
                <hr>
            </div>
        </div>


        <!-- 지도 -->
        <div class="map" id="map"></div>
        
        <!-- 카테고리바 -->
        <div class="categorybar">
            <button class="btn_myloca" id="categorybutton" onclick='panTo()'>
                <div class="categorybox">
                    <div id="categoryicon">
                        <img src="{% static 'image/geo.png' %}">
                    </div>
                    <div id = "categoryname">내 위치</div>
                </div>
            </button>
                    
            <button class="btn_checkbalance" id="categorybutton" onclick="location.href='http://busan.nhdream.co.kr/Login/PointCheck.jsp'">
                <div class="categorybox">
                    <div class="i_checkbalance" id="categoryicon">
                        <img src="{% static 'image/money-bag.png' %}">
                    </div>
                    <div id = "categoryname">잔액 확인</div>
                </div>
            </button>
                    
            <button class="btn_resetinfo" id="categorybutton">
                <div class="categorybox">
                    <div class="i_resetinfo" id="categoryicon">
                        <img src="{% static 'image/gear.png' %}">
                    </div>
                    <div id = "categoryname">정보 재설정</div>
                </div>
            </button>
        </div>

            <!-- 가게 정보 팝업창 -->
    <div class="storeinfo">
        <div class="popupbox-storeinfo">

            <div class="bar1" ></div>  
            <div class="bar2" ></div>
    
            <div class="storename">  
                </div>
                <div class="storecategory-box"> 
                    <div class="storecategory"> 
                        </div> 
                    </div> 
                </div> 
    
                <div class="storeloca-box"> 
                    <div class="storeinfoicon" id="i_storeloca"> 
                        <img src="{% static 'image/geo.png' %}"> 
                    </div>   
                    <div class="storeloca"> 
                    </div> 
                </div> 
    
                <div class="storenumber-box"> 
                    <div class="storeinfoicon" id="i_storenumber"> 
                        <img src="{% static 'image/page-2.png' %}"> 
                    </div> 
                    <div class="storenumber"> 
                    </div>
                </div> 
    
                <div class="storeinfo-btn-box">
                    
                    <button class="btn_directions" id="storebutton" onclick="searchLoad(event); return false;">
                        <input class="input-directions">
                        <div class="i_directions" id="storeicon">
                            <img src="{% static 'image/junction.png' %}">
                        </div>
                        <div class = "name_directions" id = "btnname">길찾기</div>
                    </button>

                            
                    <button class="btn_call" id="storebutton" onclick="location.href='tel:{{i.phone_num}}'">                        
                        <div class="storebtnicon" id="i_call"> 
                            <img src="{% static 'image/page-1.png' %}"> 
                        </div>
                        <div class = "btnname">전화연결</div>
                    </button>               
                    
                    <button class="btn_report" id="storebutton"> 
                        <div class="storebtnicon" id="i_report"> 
                            <img src="{% static 'image/siren.png' %}"> 
                        </div> 
                        <div class = "btnname">제보하기</div> 
                    </button> 
                </div>
            </div>
        </div>
    </div>
    
    <!-- 잔액 확인 팝업창 -->
    <div class="checkbalance" id="modal">
        <div class="popupbox-checkbalance">
            <div class="iconbox">
                <img src="{% static 'image/coin.png' %}">
            </div>
            <div class="btn_close_checkbalance">&times;</div>
            <div class="titlebox_checkbalance">
                <div class="title">잔액 확인</div>
            </div>
            <div class="contentbox">
                <div class="content">
                    김태훈님의 현재 계좌 잔액은 $ 999,999원 입니다.
                </div>
            </div>
            <input type="button" class="btn_iknow" value="알겠어요!">
        </div>
    </div>    

    <!-- 정보 재설정 팝업창 -->
    <div class="resetinfo">
        <div class="popupbox-resetinfo">
            <div class="iconbox">
                <img src="{% static 'image/Lovepik.png' %}">
            </div>
            <div class="btn_close_resetinfo">&times;</div>
            <div class="titlebox_resetinfo">
                <div class="title">간편 정보 저장</div>
            </div>
            <div class="inputbox">
                <input type="text" class="input-info" name="name" placeholder="이름">
                <input type="text" class="input-info" name="location" placeholder="장소">
                <input type="text" class="input-info" name="cardnumber" placeholder="카드번호(012345678901)">
            </div>
            <div class="notebox">
                <div class="note">
                    ※ 본 정보는 잔액확인 및 위치설정 등 사용자 편의성을 위해서만 사용됩니다.
                </div>
            </div>
            <input type="button" class="btn_saveinfo" value="확인">
        </div>
    </div>



    <!-- 제보하기 팝업창 -->
    <div class="report">
        <form method="POST" class="popupbox-report">
            {% csrf_token %}
            <div id="report-storesname-box">
                <p id=report-storesname>

                </p>
            </div>
            <p id="report-type">
                {{reportform.type}}
            </p>
            <p id="report-content">
                {{reportform.content}}
            </p>
            <!-- <div class="report-btn-box"> -->
            <input type="submit" class="btn_submit"  value="제보하기" action="{% url 'report' info.id %"}>
            <!-- </div> -->
        </form>
    </div>

    <script src="{% static 'js/map.js' %}"></script>
    <script src="{% static 'js/popup.js' %}"></script>

    <!-- 지도 -->
    <script>
var markers = [];     
var container = document.getElementById('map');
var options = {
    center: new kakao.maps.LatLng(35.234104, 129.078411),
    level: 3
};
// public static final MapView.CurrentLocationTrackingMode TrackingModeOnWithHeading
var map = new kakao.maps.Map(container, options);

// --검색--

// 장소 검색 객체를 생성합니다
var ps = new kakao.maps.services.Places();

// 키워드로 장소를 검색합니다
var keyword = document.getElementById('keyword').value;

// 버튼 눌러야 검색함수 실행될 수 있도록 버튼을 불러옵니다
var search_btn = document.querySelector("#search_btn");
search_btn.addEventListener('click',function(searchPlaces){
});
search_btn.addEventListener('click',function(searchlocal){
});


// // // // 키워드 검색을 요청하는 함수입니다
function searchPlaces() {

    var keyword = document.getElementById('keyword').value;

    if (!keyword.replace(/^\s+|\s+$/g, '')) {
        alert('키워드를 입력해주세요!');
        return false;
    }

    // 장소검색 객체를 통해 키워드로 장소검색을 요청합니다
    ps.keywordSearch(keyword, placesSearchCB); 
}   

// 장소검색이 완료됐을 때 호출되는 콜백함수 입니다
function placesSearchCB(data, status) {
    if (status === kakao.maps.services.Status.OK) {
        document.getElementById('keyword').value = null;
        var bounds = new kakao.maps.LatLngBounds();
        for (var i=0; i<5; i++) {
            bounds.extend(new kakao.maps.LatLng(data[i].y, data[i].x));
        }
        map.setBounds(bounds);
        document.getElementById("center_lat").value = map.getCenter().getLat();
        document.getElementById("center_lng").value = map.getCenter().getLng();
        // ----
        
        return;

    } else if (status === kakao.maps.services.Status.ZERO_RESULT) {

        alert('검색 결과가 존재하지 않습니다.');
        return;

    } else if (status === kakao.maps.services.Status.ERROR) {

        alert('검색 결과 중 오류가 발생했습니다.');
        return;

    }
}


// --검색 끝--

// 검색창 옆 현재위치 표시
// 현재중심좌표 가져옴
kakao.maps.event.addListener(map,'center_changed',function(){
    var center = map.getCenter();
    var geocoder = new kakao.maps.services.Geocoder();

var coord = new kakao.maps.LatLng(center.getLat(),center.getLng());
var callback = function(result, status) {
    if (status === kakao.maps.services.Status.OK) {
        var current_coord = result[0].address.region_3depth_name;
    }
    var currentCoord = document.getElementById('localname');
    currentCoord.innerHTML = current_coord;
};

geocoder.coord2Address(coord.getLng(), coord.getLat(), callback);
});






//마커 속성
var imageSrc = "/static/image/marker_store.png",
    imageSize = new kakao.maps.Size(30 ,40), 
    imageOption = {offset: new kakao.maps.Point(15, 40)}; //좌표랑 일치시킬 마커내의 좌표
var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize, imageOption)

//클릭시 마커속성
var imageSrc_click = "/static/image/selected_marker1.png",
    imageSize_click = new kakao.maps.Size(30 ,40), 
    imageOption_click = {offset: new kakao.maps.Point(15, 40)}; //좌표랑 일치시킬 마커내의 좌표
var markerImage_click = new kakao.maps.MarkerImage(imageSrc_click, imageSize_click, imageOption_click)


//현위치 마커속성
var imageSrc1 = "/static/image/marker_me.png",
    imageSize1 = new kakao.maps.Size(20,20);
    // imageOption1 = {offset: new kakao.maps.Point(27, 69)}; //좌표랑 일치시킬 마커내의 좌표
var markerImage1 = new kakao.maps.MarkerImage(imageSrc1, imageSize1)

//내위치 버튼 연결
var here = document.querySelector('.btn_myloca')

//현재위치 마커표시
if (navigator.geolocation) {
// 접속위치 얻어오기
    navigator.geolocation.getCurrentPosition(function(position) {
        
        var lat = position.coords.latitude, // 위도
            lon = position.coords.longitude; // 경도
        
        var locPosition = new kakao.maps.LatLng(lat, lon);
        
        displayMarker(locPosition, message); 
            
    });
    
} else { //GeoLocation을 사용할 수 없을때
    
    var locPosition = new kakao.maps.LatLng(33.450701, 126.570667),    
        message = 'geolocation을 사용할수 없어요..'
        
    displayMarker(locPosition, message);
}     
function displayMarker(locPosition, message) {

// 마커 생성
var marker1 = new kakao.maps.Marker({  
    map: map, 
    image:markerImage1,
    position: locPosition
}); 

marker1.setMap(map);  

}    

// 버튼생성 후 특정 위치로 부드럽게 이동
function panTo() { 
    navigator.geolocation.getCurrentPosition(function(position) {
        
        var lat = position.coords.latitude, // 위도
            lon = position.coords.longitude; // 경도
        
        var locPosition = new kakao.maps.LatLng(lat, lon);
    
        map.panTo(locPosition);
    });
} 
// 지도 줌
var zoomControl = new kakao.maps.ZoomControl();
map.addControl(zoomControl, kakao.maps.ControlPosition.RIGHT);


//마커 관련 툴

var positions = [
    {% for i in take_all_info %}
    {
    content: '{{i.store_name}}',
    phone_num: '{{i.phone_num}}',
    location: '{{i.location}}',
    Latitude: '{{i.Latitude}}',
    longitude: '{{i.longitude}}',
    latlng: new kakao.maps.LatLng({{i.Latitude}}, {{i.longitude}})
    },
    {% endfor %} 
];
var selectedMarker = null;




//커스텀 오버레이 생성
// for (var i = 0; i < contents.length; i ++) {
//     var marker = new kakao.maps.Marker({
//         position: contents[i].latlng, 
//         image: markerImage, 
//         map: map,
        // clickable: true
    // });
    // var overlay  = new kakao.maps.CustomOverlay({
    //     content : contents[i].content,
    //     map:map,
    //     position : contents[i].
    //     lating
    // });
    // marker.setMap(map)
    // kakao.maps.event.addListener(marker, 'click', function(){
    //     overlay.setMap(map);
    // });
        // kakao.maps.event.addListener(marker, 'click', clickListener(map,marker,overlay));
// }


// function clickListener(map,marker,overlay){
//     return function(){
//         overlay.open(map, marker,overlay);
//     };
// }
// function closeOverlay(){
//     overlay.setMap(null);
// }




// 마커 생성
for (var i = 0; i < positions.length; i ++) {
    addMarker(positions[i]);
}

function addMarker(position){
    var marker = new kakao.maps.Marker({
        position: positions[i].latlng, 
        image: markerImage, 
        clickable: true,
        // i = id,
    });

    // marker.normalImage = markerImage;
    // console.log(marker)
    marker.id = i;
    marker.markerImage = markerImage;
    marker.setMap(map);
    // 마커 클릭 시 정보창 생성


    kakao.maps.event.addListener(marker, 'click',function(){
        $('.storeinfo').toggleClass('open');
        if (!selectedMarker||selectedMarker !==marker){
            !!selectedMarker && selectedMarker.setImage(selectedMarker.markerImage);
            marker.setImage(markerImage_click);
        }
        selectedMarker = marker;
        var id = this.id;
        // console.log(id);
        document.querySelector('#storebutton').value = id;
        var contents = positions[id].content;
        var storeloca = positions[id].location;
        var storenumber = positions[id].phone_num;
        var Latitude = positions[id].Latitude;
        var longitude = positions[id].longitude;
        var reportstorename = position[id].content;

        document.querySelector('.storename').innerHTML = contents;
        document.querySelector('.storenumber').innerHTML = storenumber;
        document.querySelector('.storeloca').innerHTML = storeloca;
        document.querySelector('.longitude').innerHTML = longitude;
        document.querySelector('.Latitude').innerHTML = Latitude;
        document.querySelector('#report-storesname').innerHTML = reportstorename;

        // return false;
        });
}

    kakao.maps.event.addListener(map, 'click', function(mouseEvent) {
        $('.storeinfo.open').removeClass('open');
    });

    const searchLoad = (event) => {     
        target_id = event.target.value;
        // console.log(positions[target_id].Latitude)
        // console.log(positions[target_id].longitude)
        action_url = "https://map.kakao.com/link/to/" + positions[target_id].content + ',' + positions[target_id].Latitude + ',' + positions[target_id].longitude; 
        window.open(action_url)
    }
    // const storeCall = (event) => {     
    //     target_id = event.target.value;
    //     console.log(positions[target_id].storenumber)
    //     action_url = "location.href='tel:" + positions[target_id].storenumber;
    //     window.open(action_url)
    // }


    </script>
</body>
</html>