{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hangyo</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=a1e71c3e49ea6232c6622dd828be2a59&libraries&libraries=services"></script>
</head>
<body>
    <div class="mainbox">
        <!-- 검색바 -->
        <div class="top-container">
            <div class="local-box">
                <div class="localname" id="localname">
                </div>
            </div>
            <div id="menu_wrap" class="bg_white">
                <div>
                    <form onsubmit="searchPlaces(); return false;">
                        <input class="search-box" type="text" value="  " id="keyword" size="15">
                        <div class="search-button-box">
                            <button class = "search-button" id="search_btn" type="submit">
                                <img class="magnifying-glass" src="{% static 'image/magnifying-glass.png' %}" >
                            </button> 
                        </div> 
                    </form>
                    <!-- <ul id="placesList"></ul>
                    <div id="pagination"></div> -->
                    <!-- <input type="text" class="search-loca" name="searchlocation" placeholder="위치를 검색하세요"> -->
                </div>
                <hr>
                <ul id="placesList" class="placesList"></ul>
                <div id="pagination" class="pagination"></div>
            </div>
        </div>


        <!-- 지도 -->
        <div class="map" id="map"></div>
        
        <!-- 카테고리바 -->
        <div class="categorybar">
            <button class="btn_myloca" id="categorybutton" onclick='panTo()'>
                <div class="categorybox">
                    <div id="categoryicon">
                        <img src="{% static 'image/geo.png' %}">
                    </div>
                    <div id = "categoryname">내 위치</div>
                </div>
            </button>
                    
            <button class="btn_checkbalance" id="categorybutton">
                <div class="categorybox">
                    <div class="i_checkbalance" id="categoryicon">
                        <img src="{% static 'image/money-bag.png' %}">
                    </div>
                    <div id = "categoryname">잔액 확인</div>
                </div>
            </button>
                    
            <button class="btn_resetinfo" id="categorybutton">
                <div class="categorybox">
                    <div class="i_resetinfo" id="categoryicon">
                        <img src="{% static 'image/gear.png' %}">
                    </div>
                    <div id = "categoryname">정보 재설정</div>
                </div>
            </button>
        </div>
    </div>
    
    <!-- 잔액 확인 팝업창 -->
    <div class="checkbalance" id="modal">
        <div class="popupbox_checkbalance">
            <div class="iconbox">
                <img src="{% static 'image/coin.png' %}">
            </div>
            <div class="btn_close_checkbalance">&times;</div>
            <div class="titlebox_checkbalance">
                <div class="title">잔액 확인</div>
            </div>
            <div class="contentbox">
                <div class="content">
                    김태훈님의 현재 계좌 잔액은 $ 999,999원 입니다.
                </div>
            </div>
            <input type="button" id="btn_iknow" class="btn_iknow" value="알겠어요!">
        </div>
    </div>    

    <!-- 정보 재설정 팝업창 -->
    <div class="resetinfo">
        <div class="popupbox_resetinfo">
            <div class="iconbox">
                <img src="{% static 'image/Lovepik.png' %}">
            </div>
            <div class="btn_close_resetinfo">&times;</div>
            <div class="titlebox_resetinfo">
                <div class="title">간편 정보 저장</div>
            </div>
            <div class="inputbox">
                <input type="text" class="input-info" name="name" placeholder="이름">
                <input type="text" class="input-info" name="location" placeholder="장소">
                <input type="text" class="input-info" name="cardnumber" placeholder="카드번호(012345678901)">
            </div>
            <div class="notebox">
                <div class="note">
                    ※ 본 정보는 잔액확인 및 위치설정 등 사용자 편의성을 위해서만 사용됩니다.
                </div>
            </div>
            <input type="button" id="btn_saveinfo" class="btn_saveinfo" value="확인">
        </div>
    </div>

    <!-- 가게 정보 팝업창 -->
    <div class="storeinfo">
        <div class="popupbox_storeinfo">  
            <div class="bar1" ></div>  
            <div class="bar2" ></div>  
            <div class="store">  
                <div class="storename">  
                </div> 
                <div class="storecategory-box"> 
                    <div class="storecategory"> 
                        {{i.store_type}}
                        </div> 
                        </div> 
                        </div> 
    
                        <div class="storeloca-box"> 
                            <div class="i_storeloca" id="storeinfoicon"> 
                                <img src="{% static 'image/geo.png' %}"> 
                                </div> 
                                <div class="storeloca"> 
                                    </div> 
                         </div> 
    
                                    <div class="storenumber-box"> 
                                        <div class="i_storenumber" id="storeinfoicon"> 
                                            <img src="{% static 'image/page-2.png' %}"> 
                                            </div> 
                                            <div class="storenumber"> 
                                                </div> 
                                                </div> 
    
                                                <div class="storenumber-box"> 
                                                  <div class="i_storenumber" id="storeinfoicon"> 
                                                    <img src="{% static 'image/page-2.png' %}"> 
                                                    </div> 
                                                    <div class="storenumber"> 
                                                    {{i.phone_num}} 
                                                    </div> 
                                                    </div> 
    
                                                    <div class="storeinfo-btn-box"> 
                                                        <button class="btn_directions" id="storebutton" type="button"> 
                                                            <div class="i_directions" id="storeicon"> 
                                                                <img src="{% static 'image/junction.png' %}"> 
                                                                </div> 
                                                                <form action="https://map.kakao.com/link/to/{{i.store_name}},{{i.Latitude}},{{i.longitude}}" target="_blank"> 
                                                                    <input type="submit" value="길찾기">
                                                                </form>
                                                                </button> 
                
                                                                <button class="btn_call" id="storebutton"> 
                                                                    <div class="i_call" id="storeicon"> 
                                                                        <img src="{% static 'image/page-1.png' %}"> 
                                                                        </div> 
                                                                        <a href="tel:{{i.phone_num}}">전화연결</a>
                                                                        </button> 
                                                                                
                                                                        <button class="btn_report" id="storebutton"> 
                                                                            <div class="i_report" id="storeicon"> 
                                                                                <img src="{% static 'image/siren.png' %}"> 
                                                                                </div> 
                                                                                <div id = "btnname">제보하기</div>
                                                                              
                                                                                </button> 
                                                                                </div> 
                                                                                </div>  
                                                                                </div>
    <!-- 제보하기 팝업창 -->
    <div class="report">
        <div class="popupbox_report">
            제보하기 팝업창
            <form method="POST">
                {% csrf_token %}
                {{contentform.as_p}}
                <input type="submit">
            </form>

            
            <!-- <button class="closedstore" id="reportbutton" type="button"> 
                폐업
            </button>
            <button class="hate" id="reportbutton" type="button"> 
                불친절
            </button> -->
        </div>
    </div>

    <script src="{% static 'js/map.js' %}"></script>
    <script src="{% static 'js/popup.js' %}"></script>

    <!-- 지도 -->
    <script>
var markers = [];     
var container = document.getElementById('map');
var options = {
    center: new kakao.maps.LatLng(35.234104, 129.078411),
    level: 3
};
// public static final MapView.CurrentLocationTrackingMode TrackingModeOnWithHeading
var map = new kakao.maps.Map(container, options);

// --검색--

// 장소 검색 객체를 생성합니다
var ps = new kakao.maps.services.Places();

// 검색 결과 목록이나 마커를 클릭했을 때 장소명을 표출할 인포윈도우를 생성합니다
var infowindow = new kakao.maps.InfoWindow({zIndex:1});

// 키워드로 장소를 검색합니다
var keyword = document.getElementById('keyword').value;

// 버튼 눌러야 검색함수 실행될 수 있도록 버튼을 불러옵니다
var search_btn = document.querySelector("#search_btn");
search_btn.addEventListener('click',function(searchPlaces){
});
search_btn.addEventListener('click',function(searchlocal){
});


// // // // 키워드 검색을 요청하는 함수입니다
function searchPlaces() {

    var keyword = document.getElementById('keyword').value;

    if (!keyword.replace(/^\s+|\s+$/g, '')) {
        alert('키워드를 입력해주세요!');
        return false;
    }

    // 장소검색 객체를 통해 키워드로 장소검색을 요청합니다
    ps.keywordSearch(keyword, placesSearchCB); 
}   

// 장소검색이 완료됐을 때 호출되는 콜백함수 입니다
function placesSearchCB(data, status) {
    if (status === kakao.maps.services.Status.OK) {
        document.getElementById('keyword').value = null;
        var bounds = new kakao.maps.LatLngBounds();
        for (var i=0; i<5; i++) {
            bounds.extend(new kakao.maps.LatLng(data[i].y, data[i].x));
        }
        map.setBounds(bounds);
        document.getElementById("center_lat").value = map.getCenter().getLat();
        document.getElementById("center_lng").value = map.getCenter().getLng();
        // ----
        
        return;

    } else if (status === kakao.maps.services.Status.ZERO_RESULT) {

        alert('검색 결과가 존재하지 않습니다.');
        return;

    } else if (status === kakao.maps.services.Status.ERROR) {

        alert('검색 결과 중 오류가 발생했습니다.');
        return;

    }
}



// --검색 끝--

// 검색창 옆 현재위치 표시
// 현재중심좌표 가져옴
// var center = map.getCenter();
kakao.maps.event.addListener(map,'center_changed',function(){
    var center = map.getCenter();
    var geocoder = new kakao.maps.services.Geocoder();

var coord = new kakao.maps.LatLng(center.getLat(),center.getLng());
var callback = function(result, status) {
    if (status === kakao.maps.services.Status.OK) {
        var current_coord = result[0].address.region_3depth_name;
    }
    var currentCoord = document.getElementById('localname');
    currentCoord.innerHTML = current_coord;
};

geocoder.coord2Address(coord.getLng(), coord.getLat(), callback);
});






//마커 속성
var imageSrc = "/static/image/marker_store.png",
    imageSize = new kakao.maps.Size(30 ,40), 
    imageOption = {offset: new kakao.maps.Point(27, 69)}; //좌표랑 일치시킬 마커내의 좌표
var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize, imageOption)

//클릭시 마커속성
var imageSrc_click = "/static/image/geo.png",
    imageSize_click = new kakao.maps.Size(30 ,40), 
    imageOption_click = {offset: new kakao.maps.Point(27, 69)}; //좌표랑 일치시킬 마커내의 좌표
var markerImage_click = new kakao.maps.MarkerImage(imageSrc_click, imageSize_click, imageOption_click)


//현위치 마커속성
var imageSrc1 = "/static/image/marker_me.png",
    imageSize1 = new kakao.maps.Size(20,20);
    // imageOption1 = {offset: new kakao.maps.Point(27, 69)}; //좌표랑 일치시킬 마커내의 좌표
var markerImage1 = new kakao.maps.MarkerImage(imageSrc1, imageSize1)

//내위치 버튼 연결
var here = document.querySelector('.btn_myloca')

//현재위치 마커표시
if (navigator.geolocation) {
// 접속위치 얻어오기
    navigator.geolocation.getCurrentPosition(function(position) {
        
        var lat = position.coords.latitude, // 위도
            lon = position.coords.longitude; // 경도
        
        var locPosition = new kakao.maps.LatLng(lat, lon);
        
        displayMarker(locPosition, message); 
            
    });
    
} else { //GeoLocation을 사용할 수 없을때
    
    var locPosition = new kakao.maps.LatLng(33.450701, 126.570667),    
        message = 'geolocation을 사용할수 없어요..'
        
    displayMarker(locPosition, message);
}     
function displayMarker(locPosition, message) {

// 마커 생성
var marker1 = new kakao.maps.Marker({  
    map: map, 
    image:markerImage1,
    position: locPosition
}); 

marker1.setMap(map);  

}    

// 버튼생성 후 특정 위치로 부드럽게 이동
function panTo() { 
    navigator.geolocation.getCurrentPosition(function(position) {
        
        var lat = position.coords.latitude, // 위도
            lon = position.coords.longitude; // 경도
        
        var locPosition = new kakao.maps.LatLng(lat, lon);
    
        map.panTo(locPosition);
    });
} 
// 지도 줌
var zoomControl = new kakao.maps.ZoomControl();
map.addControl(zoomControl, kakao.maps.ControlPosition.RIGHT);


//마커 관련 툴

var positions = [
    {% for i in take_all_info %}
    {
    content: '<div>{{i.store_name}}</div>', 
    phone_num: '<div>{{i.phone_num}}</div>',
    location: '<div>{{i.location}}<div>',
    id: '<div>{{i.idx}}</div>',
    latlng: new kakao.maps.LatLng({{i.Latitude}}, {{i.longitude}})
    },
    {% endfor %} 
];
var selectedMarker = null;




//커스텀 오버레이 생성
// for (var i = 0; i < contents.length; i ++) {
//     var marker = new kakao.maps.Marker({
//         position: contents[i].latlng, 
//         image: markerImage, 
//         map: map,
        // clickable: true
    // });
    // var overlay  = new kakao.maps.CustomOverlay({
    //     content : contents[i].content,
    //     map:map,
    //     position : contents[i].
    //     lating
    // });
    // marker.setMap(map)
    // kakao.maps.event.addListener(marker, 'click', function(){
    //     overlay.setMap(map);
    // });
        // kakao.maps.event.addListener(marker, 'click', clickListener(map,marker,overlay));
// }


// function clickListener(map,marker,overlay){
//     return function(){
//         overlay.open(map, marker,overlay);
//     };
// }
// function closeOverlay(){
//     overlay.setMap(null);
// }



console.log(positions)

// 마커 생성
for (var i = 0; i < positions.length; i ++) {
    var marker = new kakao.maps.Marker({
        position: positions[i].latlng, 
        image: markerImage, 
        clickable: true,
        id : i,
    });

    marker.normalImage = markerImage;
    // console.log(marker)
    // marker.id = i
    marker.setMap(map);
    // 마커 클릭 시 정보창 생성


    kakao.maps.event.addListener(marker, 'click',function(markerImage_click){
        // console.log("marker :", marker)
        // console.log("markerImage :", clickMarkerImage)
        // console.log("marker.id", marker.id)
        $('.storeinfo').toggleClass('open');
        if (!selectedMarker||selectedMarker !==marker){
            !!selectedMarker && selectedMarker.setImage(selectedMarker.markerImage);
            marker.setImage(markerImage_click);
        }
        selectedMarker = marker;
        console.log("markerid:",markerImage)
        // var targetStore = event.target.id;
        // console.log(event.target.id)
        
        // var contents = positions[id].content;
        // var storeloca = positions[id].location;
        // var storenumber = positions[id].phone_num;
        // document.querySelector('.storename').innerHTML = contents;
        // document.querySelector('.storenumber').innerHTML = storenumber;
        // document.querySelector('.storeloca').innerHTML = storeloca;
        // return false;
        });
}

    kakao.maps.event.addListener(map, 'click', function(mouseEvent) {
        $('.storeinfo.open').removeClass('open');
    });

    // kakao.maps.event.addListener(marker, 'click',function(clickMarkerImage){
    //     $('.storeinfo').toggleClass('open');
    //     if (!selectedMarker||selectedMarker !==marker){
    //         selectedMarker && selectedMarker.setImage(selectedMarker.markerImage);
    //         marker.setImage(clickMarkerImage);
    //     }
    //     selectedMarker = marker;
    //     return false;
    //     });

    // var overlay = new kakao.maps.CustomOverlay({
    //     content: positions[i].content,
    //     map: map,
    //     position: 
    // });




    // kakao.maps.event.addListener(marker, 'click', clickListener(map,marker,infowindows));
    //마커클릭시 반응

    // // 클릭된 마커가 없고, click 마커가 클릭된 마커가 아니면
    // // 마커의 이미지를 클릭 이미지로 변경합니다
    // if (!selectedMarker || selectedMarker !== marker) {

    //     // 클릭된 마커 객체가 null이 아니면
    //     // 클릭된 마커의 이미지를 기본 이미지로 변경하고
    //     !!selectedMarker && selectedMarker.setImage(selectedMarker.markerImage);

    //     // 현재 클릭된 마커의 이미지는 클릭 이미지로 변경합니다
    //     marker.setImage(markerImage_click);
    // }

    // 클릭된 마커를 현재 클릭된 마커 객체로 설정합니다

    </script>
</body>
</html>