body{
    margin: 0;
    padding: 0;
    max-width: 1024px;
    width: 100vw;
    height: 100vh;
    position: relative;
    text-align: center;
}

.top-container{
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    height: 43px;
    padding: 0% 2%;
    display: inline-flex;
    z-index: 2;
}

.local-box{
    position: absolute;
    width: 15%;
    height: 29px;
    margin: 7px 0px ;
    background: #373434 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 11px;
    opacity: 0.44;
    z-index: 0;
}

.search-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 60%;
    height: 43px;
    /* margin: 0% 1.8%;
    padding: 0 0 0 5px; */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 19px;
    opacity: 1;
    outline: 0;
}

.search-button-box{
    position: absolute;
    left: 83%;
    width: 43px;
    height: 43px;
    background: #4AD295 0% 0% no-repeat padding-box;
    box-shadow: 0px 6px 10px #00000029;
    opacity: 1;
    border-radius: 100%;
}

.search-button{
    border-radius: 50%;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 0px transparent solid;
    outline: 0;
    cursor: pointer;
}

.localname{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    font: normal normal 800 15px NanumSquare_ac;
    letter-spacing: -0.3px;
    color: #4AD295;
    opacity: 1;
    z-index: 1;
}

.placesList{
    position: absolute;
    left: 20%;
    width: 50%;
    height: 50%;
}

/* .pagination{
    background-color: #CA2626;
} */

.search-loca{
    position: absolute;
    top: 5px;
    left: 2%;
    text-align: left;
    font: normal normal bold 17px/26px NanumSquare_ac;
    letter-spacing: -0.26px;
    color: #8C8C8C;
    opacity: 1;
    border: 0;
    outline: 0;
}

#map {
    position: absolute;
    left: 0;
    top: 0;
    width:100%;
    height:100%;
}

/* 카테고리 */
.categorybar {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 64px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    box-shadow: 0px -5px 6px #00000029;
    opacity: 1;
    z-index: 1;
}

.categorybutton {
    width: 100%;
    height: 64px;
    display: inline-flex;
    /* flex-direction: column; */
    padding: 0;
    border: 0;
    outline: 0;
    background-color: #FFFFFF;
    text-align: center;
    cursor: pointer;
}

.categorybox {
    width: 100%;
    height: 64px;
    padding: 10px 0px;
}

.categoryicon {
    width: 100%;
    height: 50%;
}

.categoryname {
    margin: -4px 0;
    font: normal normal 800 9px/26px NanumSquare_ac;
    letter-spacing: -0.14px;
    color: #000000;
    opacity: 0.5;
}

.info, .report { 
    position: absolute;
    top: 0;
    left: 0;
    max-width: 1024px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); 
    opacity: 0;
    z-index: 3;
    visibility: hidden;
    /* transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;  */
}

.iconbox{
    position: absolute;
    top: 10%;
    left: 0;
    width: 100%;
    opacity: 1;
}

input{
    border: 0;
    outline: 0;
}

.btnmane-report{
    opacity: 0;
    
}

/* 팝업-가게정보 */

.storeinfo{
    position: absolute;
    width: 100%;
    height: 250px;
    max-width: 1024px;
    position: absolute;
    left: 0;
    bottom: 0;
    visibility: hidden;
    opacity: 0;
    transition: all 0.25s ease-in-out;
    z-index: 1;
}

.storeinfo.open {
    opacity: 1;
    visibility: visible;
  }

.popupbox-storeinfo{
    position: absolute;
    left: 0;
    top: 0;
    max-width: 1024px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: #F8F8F8 0% 0% no-repeat padding-box;
    box-shadow: 0px -4px 9px #00000029;
    opacity: 1;
    border-radius: 30px 30px 0 0;
}

.bar1{
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translate(-50%,-5px);
    /* top: 477px;
    left: 161px; */
    width: 58px;
    height: 5px;
    background: #8EDF97 0% 0% no-repeat padding-box;
    border-radius: 6px;
    opacity: 0.37;
}

.bar2{
    position: absolute;
    top: 25px;
    left: 50%;
    transform: translate(-50%,-5px);
    /* top: 477px;
    left: 161px; */
    width: 58px;
    height: 5px;
    background: #4AD295 0% 0% no-repeat padding-box;
    border-radius: 6px;
    opacity: 0.79;
}

.store{
    position: absolute;
    left: 0;
    top: 40px;
    width: 100%;
    height: 40px;
}

.storename{
    position: absolute;
    left: 20px;
    top: 40px;
    width: fit-content;
    font: normal normal 800 23px/26px NanumSquare_ac;
    letter-spacing: -0.34px;
    color: #1E1B1B;
    opacity: 1;
}

/* .storecategory-box{
    position: absolute;
    right: 30px;
    top: 40px;
    height: 30px;
    background: #4AD295 0% 0% no-repeat padding-box;
    border-radius: 8px;
    opacity: 1;
}

.storecategory{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100px;
    font: normal normal 800 18px/26px NanumSquare_ac;
    letter-spacing: -0.2px;
    color: #F0F8F3;
    opacity: 1;
} */

.storeloca-box{
    position: absolute;
    left: 0;
    top: 80px;
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row;
    text-align: left;
}

.storenumber-box{
    position: absolute;
    left: 0;
    top: 120px;
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row;
}

.storeloca, .storenumber{
    text-align: left;
    font: normal normal 800 14px/26px NanumSquare_ac;
    letter-spacing: -0.21px;
    color: #100F0F;
    opacity: 0.69;
}

.storeinfoicon{
    width: auto;
    height: 25px;
    margin: 0 20px;
}

.storeinfo-btn-box{
    position: absolute;
    left: 0;
    bottom: 10px;
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.storebutton{
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 70px;
    margin: 0 5px;
    padding: 0;
    font: normal normal bold 15px/26px NanumSquare_ac;
    letter-spacing: -0.23px;
    background: #F7F7F7 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 13px;
    opacity: 1;
    border: 0;
    outline: 0;
    cursor: pointer;

}

.input-directions{
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    opacity: 0;
}

.storebtnicon{
    position: absolute;
    left: 50%;
    top: 10px;
    transform: translate(-50%, -2px);
    width: fit-content;
}

.btnname{
    position: absolute;
    left: 50%;
    top: 36px;
    transform: translate(-50%,0);
}

#pagination .on {font-weight: bold; cursor: default;color:#777;}


/* 팝업-제보하기 */
.popupbox-report{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 250px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0.5rem 0.5rem 0.5rem #00000029;
    border-radius: 30px;
    opacity: 1;
}

p{
    margin: 0;
    padding: 0;
}

#report-storesname-box{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 60px;
    text-align: center;
    border-bottom: 2px grey solid;
}

#report-storesname{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    font: normal normal 800 20px/26px NanumSquare_ac;
    letter-spacing: -0.34px;
    color: #1E1B1B;
    opacity: 1;

}

/* .btn-close-report-box{
    position: absolute;
    right: 5px;
    top: 5px;
} */

.btn-close-report{
    position: absolute;
    right:  15px;
    top: 10px;
    font: normal normal bold 30px NanumSquare_ac;
    cursor: pointer;
}

#report-type{
    position: absolute;
    top: 75px;
    left: 0;
    width: 100%;
    height: 40px;
}

#id_type{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 100%;
    border: 2px gray solid;
    border-radius: 5px;
    cursor: pointer;
    background: white;
    outline: 0;
}

#report-content{
    position: absolute;
    top: 125px;
    left: 0;
    width: 100%;
    height: 60px;
}

#id_content{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 266px;
    height: 100%;
    padding: 0;
    border: 2px gray solid;
    border-radius: 5px;
    outline: 0;
}

.btn_submit{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 20%;
    background: #6FDFF1 0% 0% no-repeat padding-box;
    font: normal normal bold 21px/26px NanumSquare_ac;
    letter-spacing: -0.35px;
    opacity: 1;
    border-radius: 0 0 30px 30px;
    cursor: pointer;
}

.pop-report{
    opacity: 1; 
    visibility: visible; 
    transform: scale(1.0); 
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s; 
}