body{ 
    text-align: center; 
    display: block;
    margin: 0 auto; 
    font-size: 12px;
} 
.wrapped{
    text-align: center;
}
.map{
    display: block;
    margin: 0px auto;
}

/* 버튼관련 */
/* ------------------------------ */
.category{
    /* 일단 지도 아래 중앙 */
    /* position: fixed; */
    /* top: 70%; */
    /* border: 1px red solid; */
    display: inline-flex;
    height: 50px;
    z-index: 2;
}

.popup_resetinfo { 
    position: fixed;
    left: 0; 
    top: 0; 
    width: 100%; 
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    opacity: 0; 
    z-index: 1;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s; 
}

.popup_checkbalance { 
    position: fixed; 
    left: 0; 
    top: 0; 
    width: 100%; 
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    opacity: 0; 
    z-index: 1;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s; 
}

.popupbox { 
    position: absolute; 
    top: 40%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    background-color: white; 
    padding: 1rem 1.5rem;
    padding-bottom: 0px;
    width: 250px; 
    height: 300px; 
    border-radius: 1rem;
    border-top-left-radius: 0px; 
}

.title{
    font-size: 20px; 
}

form { 
    margin: 0 auto;
    width: 100%; 
}

input{ 
    width: 80%; 
    height: 10px;
    background-color: white; 
    border: none;
    border-bottom: 1px solid black; 
    padding: 10px;
    font-size: 1em; 
    color: black; 
}

#close-button_save{ 
    width: 100%;
    height: 48px; 
    text-align: center; 
    background-color: skyblue;
    color: black;
    font-size: 15px;
    border: none;
    margin-top: 50px; 
    cursor: pointer; 
} 

#close-button_Iknow{ 
    width: 100%;
    height: 48px; 
    text-align: center; 
    background-color: skyblue;
    color: black;
    font-size: 15px;
    border: none;
    margin-top: 50px; 
    cursor: pointer; 
} 

/* 마우스커서 올라왔을 때 디자인변화
#saveinfo:hover{ 
    color:; 
    background-color: ; 
    opacity: 0.9; 
}  */

label { 
    display: block; 
    margin-top: 10px;
    letter-spacing: 2px;
    color: black;
    font-size: 20px;
}

.close-button_1,.close-button_2{ 
    float: right; 
    width: 1.5rem;
    line-height: 1.5rem; 
    text-align: center; 
    cursor: pointer; 
    border-radius: 1rem;
} 
     
/* .close-button:hover { 
    background-color: white; 
}  */
     
.show-popup_resetinfo{ 
    opacity: 1; 
    visibility: visible; 
    transform: scale(1.0); 
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s; 
}

.show-popup_checkbalance{ 
    opacity: 1; 
    visibility: visible; 
    transform: scale(1.0); 
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s; 
}